*{
	box-sizing: border-box;
}
body{
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	margin-top: 20%;
}

.cards{
	perspective: 1000px;
	transform-style: preserve-3d;
}
.cards .card{
	width: 400px;
	height: 200px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 1s;
	position: relative;
	transform: rotateY(0);
}
.cards .card.active{
	transform: rotateY(180deg);
}
.cards .card .content{
	position: absolute;
	transition: 1s;
	cursor: default;
}
.cards .card.active .content.card-front{
	opacity: 0;
}
.cards .card .content.card-back{
	opacity: 0;
	transform: rotateY(180deg);
}
.cards .card.active .content.card-back{
	opacity: 1;
}
.cards .card .content p{
	display: flex;
	position: relative;
}
.cards .card .content p i{
	position: absolute;
	right: -20px;
	cursor: pointer;
	z-index: 10;
}

.buttons{
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.buttons i{
	font-size: 1.5em;
	cursor: pointer;
}
.buttons .history{
	color: #FFFFFF;
	padding: 5px 15px;
	background-color: #e86452;
	border-radius: 4px;
	cursor: pointer;
}
.buttons .history.remenber{
	background-color: #5ad8a6;
}