*{
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 100vh;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

button{
	cursor: pointer;
}
button:active{
	transform: scale(0.95);
}

input:focus,
button:focus{
	outline: none;
}

header{
	background: url("https://images.pexels.com/photos/56832/road-asphalt-space-sky-56832.jpeg?cs=srgb&dl=pexels-56832.jpg&fm=jpg") no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	position: relative;
	color: #FFFFFF;
}
/* 背景添加蒙层 */
header::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
/* header内容的层级 */
header *{
	z-index: 1;
}
header h1{
	margin: 0 0 30px;
}
header form{
	position: relative;
	width: 500px;
	max-width: 100%;
}
header form input{
	border: 0;
	border-radius: 50px;
	padding: 15px 30px;
	font-size: 16px;
	width: 100%;
}
header form button{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #e056fd;
	border-radius: 50px;
	font-size: 16px;
	color: #FFFFFF;
	padding: 15px 30px;
	border: 0;
}

.container{
	margin: 30px auto;
	max-width: 100%;
	width: 500px;
}
ul.song{
	list-style: none;
	padding: 0;
}
ul.song li{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}
.btn{
	background-color: #8d56fd;
	border: 0;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 4px 10px;
}

.container h2{
	font-weight: 300px;
}
.container p{
	text-align: center;
}
.more{
	display: flex;
	justify-content: center;
}
.more button{
	transform: scale(1.3);
	margin: 15px;
}
