*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	background-color: #666666;
}

h1{
	margin: 10px 0;
	color: #FFFFFF;
}
.screen{
	cursor: pointer;
	width: 60%;
	background-color: #000000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.controls{
	background-color: #333;
	color: #FFFFFF;
	width: 60%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	padding: 10px;
}
.controls .btn{
	margin: 0 10px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.controls .btn:focus{
	outline: none;
}
.controls .btn .fa-play{
	color: #28a745;
}
.controls .btn .fa-stop{
	color: #dc3545;
}
.controls .btn .fa-pause{
	color: #FFFFFF;
}
.controls .time{
	margin-left: 5px;
}



@media(max-width:800px) {
	.screen,
	.controls{
		width: 90%;
	}
}